/*wj-switch*/
.wj-switch-inline {
    padding-top: 6px;
}

.wj-switch-inline .wj-switch {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
}
.wj-switch > input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    filter: alpha(opacity=0);
}

.wj-switch {
    display: inline-block;
    margin-bottom: .5rem;
}
.wj-switch input:empty~span {
    display: inline-block;
    position: relative;
    float: left;
    text-indent: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 22px;
    width: 40px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.wj-switch input:empty~span:after,
.wj-switch input:empty~span:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

.wj-switch input:empty~span:after,
.wj-switch input:empty~span:before {
    width: 40px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.wj-switch input:empty~span:before {
    background-color: #ebedf2;
    border: 1px solid #a9a9a9;
}

.wj-switch input:empty~span:after {
    height: 20px;
    width: 20px;
    line-height: 22px;
    top: 1px;
    bottom: 0;
    margin-left: 2px;
    font-size: .9em;
    text-align: center;
    vertical-align: middle;
}
.wj-switch input:empty~span:after {
    color: #f7f8fa;
    background-color: #b5b5b5;
}
.wj-switch input:checked~span:after {
    margin-left: 18px;
}
.wj-switch input:checked~span:before {
    background-color: #ebedf2;
    border: 1px solid #5690d2;
    -webkit-box-shadow: 0 0 16px 0 rgba(235,237,242,.41);
    -moz-box-shadow: 0 0 16px 0 rgba(235,237,242,.41);
    box-shadow: 0 0 16px 0 rgba(235,237,242,.41);
}
.wj-switch input:checked~span:after {
    background-color: #018aff;
    color: #fff;
    -webkit-box-shadow: 0 0 16px 0 #5690d2;
    -moz-box-shadow: 0 0 16px 0 rgba(113,106,202,.41);
    box-shadow: 0 0 16px 0 #5690d2;
}

.form .form-section, .portlet-form .form-section {
    margin-top: 0;
    border-bottom: 1px solid #00aaff;
    text-indent: 1rem;
}
.panel-body .form-horizontal {
    margin: 2em auto;
}

.log-form {
    display: none;
}

.log-form .fancy-checkbox {
    margin-bottom: 0;
}

.list-space-around {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.list-space-around > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 0 1em;
    flex: 0 0 50%;
    position: relative;
}

.list-space-around > li:after {
    display: block;
    content: '|';
    position: absolute;
    top: 0;
    right: 0;
}

.list-space-around > li:nth-child(even):after {
    content: '';
}

.ct-label.ct-horizontal.ct-end {
    text-indent: -16px;
}