{% extends "base.html" %}
{% load staticfiles %}
{% block title %}网卡配置{% endblock %}

{% block nav %}
    <!-- LEFT SIDEBAR -->
    <div id="sidebar-nav" class="sidebar">
        <div class="sidebar-scroll">
            <nav>
                <ul class="nav">
                    <li><a href="{% url 'index' %}" class=""><i class="lnr lnr-home"></i> <span>仪表盘</span></a></li>
                    <li><a href="{% url 'servicelist' %}" class=""><i class="lnr lnr-code"></i> <span>服务列表</span></a>
                    </li>
                    <li>
                        <a href="#subPages" data-toggle="collapse" class="active"><i class="lnr lnr-cog"></i>
                            <span>功能</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="subPages" class="ollapse in">
                            <ul class="nav">
                                <li><a href="{% url 'eth' %}" class="active">网卡配置</a></li>
                                <li><a href="{% url 'sysecurity' %}" class="">系统安全</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                            <a href="#clientPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-laptop-phone"></i> <span>客户端管理</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                            <div id="clientPages" class="collapse ">
                                    <ul class="nav">
                                            <li><a href="{% url 'upclient' %}" class="">安装包上传</a></li>
                                            <li><a href="#" class="">升级包上传</a></li>
                                    </ul>
                            </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- END LEFT SIDEBAR -->
{% endblock %}


{% block content %}
    <!-- MAIN -->
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">

                <div class="row">

                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">系统安全</h3>
                            </div>
                            <div class="panel-body">
                                <form id="serverIPForm" class="form form-horizontal server-ip-form" role="form">
                                    {% csrf_token %}
                                    <div class="form-body">
                                        <h3 class="form-section">内网</h3>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">服务器内网IP：</label>
                                            <div class="col-md-6">
                                                <input id="inner_ip" class="form-control ip-check"
                                                       v-model="serverIP.inner.ip"
                                                       maxlength="15" type="text" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">子网掩码：</label>
                                            <div class="col-md-6">
                                                <input id="inner_netMask" class="form-control ip-check"
                                                       v-model="serverIP.inner.netMask" maxlength="15" type="text"
                                                       placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">网关：</label>
                                            <div class="col-md-6">
                                                <input id="inner_gateway" class="form-control ip-check"
                                                       v-model="serverIP.inner.gateway" maxlength="15" type="text"
                                                       placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">DNS地址：</label>
                                            <div class="col-md-6">
                                                <input id="inner_dns" class="form-control ip-check"
                                                       v-model="serverIP.inner.dns"
                                                       maxlength="15" type="text" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">是否需要外网：</label>
                                            <div class="col-md-6">
                                                <div class="wj-switch-inline">
                                                    <label class="wj-switch">
                                                        <input id="isOutIP" type="checkbox" v-model="serverIP.isOuter"/>
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <section class="form-section-container" v-if="serverIP.isOuter">
                                            <h3 class="form-section">外网</h3>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">服务器外网IP：</label>
                                                <div class="col-md-6">
                                                    <input id="outer_ip"
                                                           :class="['form-control', {'ip-check': serverIP.isOuter}]"
                                                           v-model="serverIP.outer.ip" maxlength="15" type="text"
                                                           placeholder="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">子网掩码：</label>
                                                <div class="col-md-6">
                                                    <input id="outer_netMask"
                                                           :class="['form-control', {'ip-check': serverIP.isOuter}]"
                                                           v-model="serverIP.outer.netMask" maxlength="15" type="text"
                                                           placeholder="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">网关：</label>
                                                <div class="col-md-6">
                                                    <input id="outer_gateway"
                                                           :class="['form-control', {'ip-check': serverIP.isOuter}]"
                                                           v-model="serverIP.outer.gateway" maxlength="15" type="text"
                                                           placeholder="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">DNS地址：</label>
                                                <div class="col-md-6">
                                                    <input id="outer_dns"
                                                           :class="['form-control', {'ip-check': serverIP.isOuter}]"
                                                           v-model="serverIP.outer.dns" maxlength="15" type="text"
                                                           placeholder="">
                                                </div>
                                            </div>
                                        </section>


                                        <h3 class="form-section">外部访问地址</h3>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">外部访问地址：</label>
                                            <div class="col-md-6">
                                                <input id="url" class="form-control" v-model="serverIP.url"
                                                       maxlength="60"
                                                       type="url" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-6">
                                                <button type="button" class="btn btn-primary server-ip-btn">保存</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN -->
{% endblock %}

{% block js %}
    <!-- page js -->
    <script src={% static "scripts/pages/eth.js" %}></script>
{% endblock %}
