{% extends "base.html" %}

{% load staticfiles %}

    {% block title %}修改密码{% endblock %}


{% block nav %}
    <!-- LEFT SIDEBAR -->
    <div id="sidebar-nav" class="sidebar">
            <div class="sidebar-scroll">
                <nav>
                        <ul class="nav">
                                <li><a href="{% url 'index' %}" class=""><i class="lnr lnr-home"></i> <span>仪表盘</span></a></li>
                                <li><a href="{% url 'servicelist' %}" class=""><i class="lnr lnr-code"></i> <span>服务列表</span></a></li>
                                <li>
                                        <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-cog"></i> <span>功能</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                                        <div id="subPages" class="collapse ">
                                                <ul class="nav">
                                                     <li><a href="{% url 'eth' %}" class="">网卡设置</a></li>
                                                     <li><a href="{% url 'sysecurity' %}" class="">安全中心</a></li>
                                                     <li><a href="{% url 'terminal' %}" class="">服务安装</a></li>
                                                </ul>
                                        </div>
                                </li>

                                <li>
                                        <a href="#clientPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-laptop-phone"></i> <span>客户端管理</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                                        <div id="clientPages" class="collapse ">
                                                <ul class="nav">
                                                        <li><a href="{% url 'upclient' %}" class="">安装包上传</a></li>
                                                        <li><a href="#" class="">升级包上传</a></li>
                                                </ul>
                                        </div>
                                </li>
                            <li><a href="{% url 'log' %}" class=""><i class="lnr lnr-hand"></i> <span>日志列表</span></a></li>


                        </ul>
                </nav>
        </div>
    </div>
    <!-- END LEFT SIDEBAR -->
{% endblock %}
{% block content %}
    		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<div class="panel panel-profile">
						<div class="clearfix">
							<!-- LEFT COLUMN -->
							<div class="profile-left">

                                {#  修改密码  #}
{#                                    <form action="http://127.0.0.1:8000/gorgeous/change_password/"  class="pass_info" >#}
{#                                        <p>#}
{#                                        <label>用户：</label><input type="text" name="username"  />#}
{#                                        </p>#}
{#                                        <p>#}
{#                                        <label>密码：</label><input type="password" name="password" />#}
{#                                        </p>#}
{#                                        <p>#}
{#                                        <label>确认密码：</label><input type="password" name="password" />#}
{##}
{#                                        </p>#}
{#                                        <input type="submit" name="" value="按钮">#}
{#                                    </form>#}
{#                                    <form class="pass_info">#}



        <h3>密码修改</h3>
        <div><form class="form-auth-change"  method="POST"> {% csrf_token %}
        <div class="form-group">
            <label>当前密码：</label><input  type="password"  id="old_pass" placeholder="请输入原密码" >
        </div>
        <div class="form-group">
            <label>新密码：　</label><input type="password" id="new_pass" placeholder="新密码">
        </div>
        <div class="form-group">
            <label>确认密码：</label><input type="password" id="comfirm_pass" placeholder="确认新密码">
        </div>
       <div class="error_tip" style="color: red" >{{ context }}</div>
        <div class="form-group">
            <input type="submit" value="确认修改" class="input_sub">
        </div>
        </form></div>

							<!-- END LEFT COLUMN -->
						</div>
					</div>
				</div>
			</div>
            </div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->

{% endblock %}

{% block js %}

{#<script>#}
{#         // 修改密码#}
{#$(function () {#}
{#    $(".pass_info").submit(function (e) {#}
{#        e.preventDefault();#}
{##}
{#        // 修改密码#}
{#        var params = {}#}
{#        $(this).serializeArray().map(function(x){#}
{#            params[x.name] = x.value#}
{#        })#}
{#        // 取到两次密码#}
{#        var new_password = params['new_password']#}
{#        var new_password2 = params['new_password2']#}
{#        if (new_password != new_password2){#}
{#            alert('两次密码不一致')#}
{#            return#}
{#        }#}
{#        $.ajax({#}
{#            url:"change_password/",#}
{#            type:"post",#}
{#            contentType:"application/json",#}
{#            data:JSON.stringify(params),#}
{#            headers:{#}
{#                'X-CSRFToken':getCookie('csrf_token')#}
{#            },#}
{#            success:function(resp){#}
{#                if (resp.errno == "0"){#}
{#                    alert('修改成功')#}
{#                    window.location.reload()#}
{#                }else{#}
{#                    alert(resp.errmsg)#}
{#                }#}
{#            }#}
{#        })#}
{##}
{#    })#}
{#{)#}
{#    </script>#}
{% endblock %}